body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    background-color:lightgray;
    padding:0px;
}
.sidebar{
    vertical-align:top;
    padding:0px;
    width:20vw;
    height:92.5vh;
}
.navbar{
    text-align:left;
    background-color:#35baf6;
    height:30px;
}
.main{
    vertical-align:top;
    width:79vw;
    height:92.5vh;
    background-color:white;
}

.main_menu{
    width:79vw;
    background-color:gray;
}

.divPoweredBy{
    background-color:white;
    font-size:1.5em;
    font-style:italic;
    color:#878787;
    padding:.2em;
}

.divPoweredBy > div{
    float:right;
}
.divPoweredBy > div > span{
    margin-right:.4em;
}

.divPoweredBy > div > img{
    height:1.6em;
    width:3em;
}

.divTreeViewNavigationBarContainer{
    overflow:auto;
    background-color:white;
    width:100%;
}

#TreeViewNavigationBar td {
    padding: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.RightContent
{
    height:20vw;    
    float:right;
}
.LeftContent{
    height:20vw;
    float:left;
}
.btn{
    border:4px solid #35baf6;
    background-color:white;
    color:black;
    padding:5px;
}

#TreeViewNavigationBar a{
    color:#4b4b4b;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 1.1em;
}