<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Juppiter.DL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Juppiter.DL.Properties.Settings>
            <setting name="Port1" serializeAs="String">
                <value>27017</value>
            </setting>
            <setting name="Port2" serializeAs="String">
                <value>27018</value>
            </setting>
            <setting name="Port3" serializeAs="String">
                <value>27019</value>
            </setting>
            <setting name="Mongod" serializeAs="String">
                <value>C:\Mean\MongoDB\Server\3.6\bin\mongod.exe</value>
            </setting>
            <setting name="Node1" serializeAs="String">
                <value>C:\data\node1</value>
            </setting>
            <setting name="Node2" serializeAs="String">
                <value>C:\data\node2</value>
            </setting>
            <setting name="Node3" serializeAs="String">
                <value>C:\data\node3</value>
            </setting>
            <setting name="Import" serializeAs="String">
                <value>C:\Mean\MongoDB\Server\3.6\bin\mongoimport.exe</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>C:\Users\Sviluppatore\Desktop\mongo\db\</value>
            </setting>
            <setting name="connection" serializeAs="String">
                <value>mongodb://localhost:27017,localhost:27018,localhost:27019</value>
            </setting>
            <setting name="ReplicationName" serializeAs="String">
                <value>Prova</value>
            </setting>
        </Juppiter.DL.Properties.Settings>
    </applicationSettings>
</configuration>